<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-0">
              <div class="text-muted text-center mb-3">
                <h6 style="color: grey;">Cambio de contraseña</h6>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="alert alert-info mt-3" role="alert">
                <strong>Importante</strong> Recibirás una contraseña temporal en
                tu correo para ingresar a la plataforma.
              </div>
              <form role="form" [formGroup]="changePass">
                <div class="form-group" [ngClass]="{ focused: focus === true }">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Contraseña temporal"
                      type="password"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      formControlName="tempPass"
                    />
                  </div>
                  <div
                    *ngIf="
                      changePass.get('tempPass').invalid &&
                      (changePass.get('tempPass').dirty ||
                        changePass.get('tempPass').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="changePass.get('tempPass').errors.required"
                    >
                      La contraseña temporal es requerida.
                    </small>
                  </div>
                </div>
                <div
                  class="form-group mb-3"
                  [ngClass]="{ focused: focus1 === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i
                          class="fa fa-eye show-pass"
                          aria-hidden="true"
                          *ngIf="showPass; else elseBlock"
                          (click)="showPass = false"
                        ></i>
                        <ng-template #elseBlock>
                          <i
                            class="fa fa-eye-slash show-pass"
                            aria-hidden="true"
                            (click)="showPass = true"
                          ></i>
                        </ng-template>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Nueva contraseña"
                      [type]="showPass ? 'text' : 'password'"
                      (focus)="focus = true"
                      (blur)="focus = false"
                      formControlName="password"
                    />
                  </div>
                  <div
                    *ngIf="
                      changePass.get('password').invalid &&
                      (changePass.get('password').dirty ||
                        changePass.get('password').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="changePass.get('password').errors.required"
                    >
                      La nueva contraseña es requerida.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="changePass.get('password').errors.pattern"
                    >
                      La contraseña debe tener al menos 8 caracteres.
                    </small>
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary my-4"
                    [disabled]="!changePass.valid"
                    (click)="changePassword()"
                  >
                    Actualizar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
