<nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"
>
  <div class="container">
    <!-- <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
      <img class="appLogo" src="./assets/img/brand/voaeSaludWhiteLogo.svg" />

    </a> -->
    <img
    src="https://uploads-ssl.webflow.com/60627bc52f76a5666e1c495b/6069e70efb08b4c6c773f686_logo%40300x-p-500.png"
    style="width: 10%; filter: brightness(0) invert(1);"
    alt=""
/>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbar_global"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse"
      id="navbar_global"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img class="appLogo" src="./assets/img/brand/voaeSaludLogo.svg" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="navbar_global"
            >
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://www.facebook.com/%C3%81rea-de-Salud-VOAE-UNAH-517385862123243/"
            target="_blank"
            data-toggle="tooltip"
            title="Like us on Facebook"
          >
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li> -->

        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://bmedical.webflow.io/#services"
            target="_blank"
            data-toggle="tooltip"
            title="Acerca de"
          >
            <i class="ni ni-world-2"></i>
            <span class="nav-link-inner--text d-lg-none">Acerca de</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="user">
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="logOut()"
          >
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Salir
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
