<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div
        class="container pt-lg-md animate__animated animate__fadeIn animate__faster"
      >
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white">
                <div class="text-muted text-center">
                  <small>Restablecimiento de contraseña </small>
                </div>
              </div>
              <div class="card-body p-lg-4">
                <form [formGroup]="recoveryForm">
                    <!--email-->
                    <div
                    class="form-group"
                    [ngClass]="{ focused: focus1 === true }"
                  >
                    <div class="input-group input-group-alternative mb-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-email-83"></i
                        ></span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Correo electrónico"
                        type="text"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                        formControlName="email"
                      />
                    </div>
                    <div
                      *ngIf="
                      recoveryForm.get('email').invalid &&
                        (recoveryForm.get('email').dirty ||
                        recoveryForm.get('email').touched)
                      "
                    >
                      <small
                        style="color: red;"
                        *ngIf="recoveryForm.get('email').errors.required"
                      >
                        El correo electrónico  es requerido.
                      </small>
                      <small
                        style="color: red;"
                        *ngIf="recoveryForm.get('email').errors.pattern"
                      >
                        El correo electrónico no es válido.
                      </small>
                    </div>
                  </div>
                  <!--fin email--->

                  <!--Numero de cuenta-->
                  <div
                  class="form-group"
                  [ngClass]="{ focused: focus2 === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="DNI"
                      type="text"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                      formControlName="dni"
                    />
                  </div>
                  <div
                    *ngIf="
                      recoveryForm.get('dni').invalid &&
                      (recoveryForm.get('dni').dirty ||
                        recoveryForm.get('dni').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="recoveryForm.get('dni').errors.required"
                    >
                      El dni es requerido.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="recoveryForm.get('dni').errors.pattern"
                    >
                      El dni no es valido. No utilices guiones.
                    </small>
                  </div>
                </div>
                 <!--FIn Numero de cuenta-->


                <div class="text-center">
                    <button
                      type="button"
                      [disabled]="!recoveryForm.valid"
                      class="btn btn-primary"
                      (click)="cambiarContrasenia()"
                    >
                      Enviar
                    </button>
                  </div>
                  <p class="text-center mb-0 mt-3">
                    <a [routerLink]="['/landing']">Iniciar Sesión</a>
                  </p>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
