<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div
      class="container pt-lg-md animate__animated animate__fadeIn animate__faster"
    >
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center">
                <small>Registrarse</small>
              </div>
            </div>
            <div class="card-body p-lg-4">
              <form role="form" [formGroup]="signUpForm">
                <div
                  class="form-group"
                  [ngClass]="{ focused: focus1 === true }"
                >
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-badge"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Número de Identidad"
                      type="text"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      formControlName="dni"
                      maxlength="17"
                    />
                  </div>
                  <div
                    *ngIf="
                      signUpForm.get('dni').invalid &&
                      (signUpForm.get('dni').dirty ||
                        signUpForm.get('dni').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('dni').errors.required"
                    >
                      El número de identidad (dni) es requerido.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('dni').errors.pattern"
                    >
                      Ingrese un número válido. No utilice guiones.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('dni').errors.minlength"
                    >
                      El dni no es válido.
                    </small>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{ focused: focus === true }">
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-hat-3"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Nombre Completo"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                      formControlName="name"
                    />
                  </div>
                  <div
                    *ngIf="
                      signUpForm.get('name').invalid &&
                      (signUpForm.get('name').dirty ||
                        signUpForm.get('name').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('name').errors.required"
                    >
                      El nombre es requerido.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('name').errors.pattern"
                    >
                      Ingresa un nombre válido.
                    </small>
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focus1 === true }"
                >
                  <div class="input-group input-group-alternative mb-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Correo electronico"
                      type="email"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      formControlName="email"
                    />
                  </div>
                  <div
                    *ngIf="
                      signUpForm.get('email').invalid &&
                      (signUpForm.get('email').dirty ||
                        signUpForm.get('email').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('email').errors.required"
                    >
                      El correo es requerido.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('email').errors.pattern"
                    >
                      El correo no es válido. Solamente puedes utilizar tu
                      correo institucional.
                    </small>
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ focused: focus2 === true }"
                >
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-circle-08"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Número de telefóno"
                      type="number"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                      formControlName="phone_number"
                      maxlength="8"
                    />
                  </div>
                  <div
                    *ngIf="
                      signUpForm.get('phone_number').invalid &&
                      (signUpForm.get('phone_number').dirty ||
                        signUpForm.get('phone_number').touched)
                    "
                  >
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('phone_number').errors.required"
                    >
                    El número de teléfono es requerido.
                    </small>
                    <small
                      style="color: red;"
                      *ngIf="signUpForm.get('phone_number').errors.pattern"
                    >
                      Ingresa un número de telefóno valido. No utilices guiones.
                    </small>

                  </div>
                </div>
                <div class="alert alert-info mt-3" role="alert">
                  <strong>Importante</strong> Recibirás una contraseña temporal
                  en tu correo  para ingresar a la plataforma.
                </div>

                <div class="text-center">
                  <button
                    type="button"
                    [disabled]="!signUpForm.valid"
                    class="btn btn-primary"
                    (click)="signUp()"
                  >
                    Registrarse
                  </button>
                </div>
                <p class="text-center mb-0 mt-3">
                  <a [routerLink]="['/landing']">Iniciar Sesión</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
