<div
  class="alert alert-success alert-dismissible fade show"
  [ngClass]="'alert-' + type"
  role="alert"
  *ngIf="visibleAlert"
>
  <span class="alert-inner--text mr-5">{{ message }}</span>
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true">×</span>
  </button>
</div>
