<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<ng-snotify></ng-snotify>
<ngx-spinner
  bdColor="rgba(255,255,255,0.5)"
  size="medium"
  color="#0087f0"
  type="ball-fussion"
  [fullScreen]="true"
></ngx-spinner>
