<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div
      class="
        container
        pt-lg-md
        animate__animated animate__fadeIn animate__faster
      "
    >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center">
                <h5>Cotizar Servicios</h5>
              </div>
            </div>
            <div>
              <div class="card-body p-lg-4 mt-4">
                <div class="alert alert-warning w-100" role="alert">
                  <h5 class="alert-heading">
                    <i class="fas fa-exclamation-circle"></i> Importante
                  </h5>
                  <p>
                    Estimado paciente, los valores indicados en esta cotización
                    son para referencia, simpre es necesaria una evaluación para
                    determinar costos fijos.
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-6 col-12 pb-5">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                          ><i class="fas fa-search"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Buscar servicio"
                        [(ngModel)]="serviceFilter"
                        autocomplete="off"
                      />
                    </div>
                    <div
                      *ngIf="services.length == 0"
                      class="
                        w-100
                        p-3
                        border border-light
                        text-gray text-center
                      "
                    >
                      <i class="fas fa-frown-open fa-2x"></i>
                      <div>No existen servicios disponibles</div>
                    </div>
                    <div class="list-group">
                      <button
                        *ngFor="let item of services | appFilter: serviceFilter"
                        type="button"
                        class="list-group-item list-group-item-action"
                        (click)="chooseService(item)"
                      >
                        <div class="d-flex align-items-center">
                          <div class="mr-3 text-muted">
                            <i class="fas fa-plus"></i>
                          </div>
                          <div class="ms-2 mr-auto">
                            <div>{{ item.service_desc }}</div>
                            <small class="text-muted">{{
                              item.attention_type_name
                            }}</small>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"
                            >L. {{ item.min_price | number: "1.2-2" }}
                            {{
                              item.is_price_by_range
                                ? "- L. " + (item.max_price | number: "1.2-2")
                                : ""
                            }}</span
                          >
                        </div>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <h4>Detalle de servicios seleccionados</h4>
                    <hr class="mt-1 mb-4" />
                    <div
                      *ngIf="chosenServices.length == 0"
                      class="
                        w-100
                        p-3
                        border border-light
                        text-gray text-center
                      "
                    >
                      <i class="fas fa-frown-open fa-2x"></i>
                      <div>No tiene servicios seleccionados</div>
                    </div>
                    <div class="list-group">
                      <button
                        *ngFor="let item of chosenServices"
                        type="button"
                        class="list-group-item list-group-item-action"
                        (click)="discardService(item)"
                      >
                        <div class="d-flex align-items-center">
                          <div class="mr-3 text-muted">
                            <i class="fas fa-minus"></i>
                          </div>
                          <div class="ms-2 mr-auto">
                            <div>{{ item.service_desc }}</div>
                            <small class="text-muted">{{
                              item.attention_type_name
                            }}</small>
                          </div>
                          <span class="badge bg-primary rounded-pill text-white"
                            >L. {{ item.min_price | number: "1.2-2" }}
                            {{
                              item.is_price_by_range
                                ? "- L. " + (item.max_price | number: "1.2-2")
                                : ""
                            }}</span
                          >
                        </div>
                      </button>
                    </div>
                    <div class="text-right mt-5" *ngIf="totalAmount">
                      <h3 class="m-0">Total</h3>
                      <h1>
                        <span class="badge bg-success rounded-pill text-white">
                          L. {{ totalAmount.min | number: "1.2-2" }}
                          {{
                            totalAmount.min != totalAmount.max
                              ? "- L. " + (totalAmount.max | number: "1.2-2")
                              : ""
                          }}
                        </span>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
