.horariosRadioButtons {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.horariosRadioButtons li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
  @media (max-width: 576px) {
    width: 100%;
  }
}

.horariosRadioButtons label,
.horariosRadioButtons input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border-radius: 4px;
}

.horariosRadioButtons input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.horariosRadioButtons input[type="radio"]:checked + label,
.Checked + label {
  background: rgb(13, 135, 206);
  color: white;
}

.horariosRadioButtons input[type="radio"]:disabled + label,
.Checked + label {
  background: rgb(216, 219, 221);
  cursor: not-allowed;
}

.horariosRadioButtons label {
  padding: 5px;
  border: 0px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.horariosRadioButtons label:hover {
  background: #ddd;
}

.dateSelect {
  border: 1px solid #cad1d7 !important;
  border-radius: 0.25rem !important;
}

.customDatepicker {
  padding: 0.625rem 0.75rem !important;
  border: 1px solid #cad1d7 !important;
  border-radius: 0.25rem !important;
  font-size: 1rem;
  font-weight: 400;
  color: #8898aa !important;
  background-color: white !important;
}

.btn-floating{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  animation: crescendo .7s alternate 16 ease-in;
}

@keyframes crescendo {
  0%   {transform: scale(.8);}
  100% {transform: scale(1);}
}